asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
crypto==1.4.1
Django==5.1.2
djangorestframework==3.15.2
idna==3.10
Jinja2==3.1.4
MarkupSafe==3.0.1
Naked==0.1.32
pycryptodome==3.21.0
PyYAML==6.0.2
render==1.0.0
requests==2.32.3
shellescape==3.8.1
sqlparse==0.5.1
urllib3==2.2.3
