{% load static %}
<!DOCTYPE html>
<html>
    
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

	<title>lipa_na_mpesa_stk-push</title>

</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<b><h2 id="form-title">LIPA NA MPESA(STK PUSH)</h2></b>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="{% url 'mpesapay' %}">
						{% csrf_token %}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text">Phone&nbsp;&nbsp;<i class="fas fa-phone mr-2"></i></span>
							</div>
							{{form.phone_number}}
						</div>

						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text">Amount&nbsp;&nbsp;<i class="fas fa-dollar-sign mr-1"></i></span>
							</div>
							{{form.amount}}
						</div>

						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text">Account&nbsp;&nbsp;<i class="fas fa-user"></i></span>
							</div>
							{{form.account_ref}}
						</div>
						{% for field in form %}
						{% endfor %}

						<div class="d-flex justify-content-center mt-3  login_container">
							{% for message in messages %}
								<p style="color: green;">{{ message }}</p>
							{% endfor %}
				 			<input type="submit" value="PAY NOW" name="paynow"
				 				onclick="return confirm('Do you wamt to pay Ksh. {form.amount} to NEXSHACK TECH for account {form.account_ref}')" 
				 			/>
				 			
				   		</div>
				   		
					</form>

				</div>

				<div class="mt-3">
					<div class="d-flex justify-content-center links">
						C2B? <a href="{% url 'c2b-mpesapay' %}" id="link-title" class="ml-1">Click Here</a>
					</div>
				</div>	

				<div class="mt-3">
					<div class="d-flex justify-content-center links">
						 <a href="https://www.linkedin.com/in/cleophas-okinda-3a559a139?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bu0cPfL6wTGGcMX%2BbzSLFcQ%3D%3D" id="link-design" class="ml-1"><small>Designed by Cleo</small></a>
					</div>
				</div>			
				
			</div>
		</div>
	</div>

	<script>
		/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field 
		 */

		//Query All input fields
		
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='2547XXXXXXX';
		form_fields[2].placeholder='Ksh..';
		form_fields[3].placeholder='Account Reference..';

		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
		
	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>