{% extends 'mpesa/base.html' %}
{% load static %}

{%  block content %} 
	<head>
	{% if title %}
		<title>lnm_stk_push</title>
	{% endif %}

	{% if mpesa_pay %}
		<link rel="stylesheet" type="text/css" href="{% static 'mpesa/css/mpesa_pay.css' %}">
	{% endif %}
	</head>

<body>
	<div class="container h-200">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">

				<div class="d-flex justify-content-center">
					<b><h3 id="form-title">LIPA NA MPESA(STK PUSH)</h3></b>
				</div>

				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="{% url 'mpesapay' %}" class="ui form">
						{% csrf_token %}
						<div class="field mb-2">
							<div class="input-group-append">
								<span class="input-group-text">Phone&nbsp;&nbsp;<i class="fas fa-phone mr-2"></i></span>{{form.phone_number}}
							</div>
						</div>

						<div class="field mb-2" >
							<div class="input-group-append">
								<span class="input-group-text">Amount&nbsp;&nbsp;<i class="fas fa-dollar-sign mr-1"></i></span>{{form.amount}}
							</div>
							
						</div>

						<!--div class="field mb-2">
							<div class="input-group-append">
								<span class="input-group-text">Account&nbsp;<i class="fas fa-user"></i></span>{{form.account_ref}}<input type="text" name="account" placeholder="Account Reference...">
							</div>
						</div-->
						
						<div class="d-flex justify-content-center mt-3  login_container">
							
							<button id="btn-pay" class="btn btn-primary btn-lg" type="submit" onclick="return confirm('Do you want to pay Ksh. to Cleo LTD.?')">PAY NOW</button>
				   		</div>

					</form>

				</div>

				<!--div class="mt-3">
					<div class="d-flex justify-content-center links">
						<b>C2B?<a id="link-title" href="{% url 'c2b-mpesapay' %}"  class="ml-1">Click Here</a></b>
					</div>
				</div>	

				<div class="mt-3">
						<div class="d-flex justify-content-center links">
							<b>TRANSACTION STATUS<a href="{% url 'transaction-status' %}" id="link-title" class="ml-2">Click Here</a></b>
						</div>
				</div-->	

				<div class="mt-3">
					<div class="d-flex justify-content-center links">
						 <a href="https://www.linkedin.com/in/cleophas-okinda-3a559a139?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bu0cPfL6wTGGcMX%2BbzSLFcQ%3D%3D" id="link-designer" class="ml-1"><small><i>designed by <b><code>Cleo</code></b></i></small></a>
					</div>
				</div>

				<p id="demo"></p>

				<!--div id="test">
   					Warning: This element contains <code>code</code> and <strong>strong language</strong>.
				</div-->

				
			</div>
		</div>
	</div>

	<script>
		/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field 
		 */

		//Query All input fields
		
		let form_fields = document.getElementsByTagName('input')
		//console.log(form_fields);
		//console.log(form_fields[0]);

		form_fields[1].placeholder='07XXXXXXXX';
		//console.log(form_fields[1]);
		//console.log('className:', form_fields[1].className);
		//console.log('ID:', form_fields[1].id);

		form_fields[2].placeholder='Ksh...';
		//console.log(form_fields[2]);

		//form_fields[3].placeholder='Account Reference...';
		//console.log(form_fields[3]);

		for (let field in form_fields){	
			form_fields[field].className += ' form-control'
		}

		let phone_number = document.getElementById('phone_number');
		let amount = document.getElementById('amount');
		//let account_ref = document.getElementById('account_ref');
		//console.log('VAL:', document.getElementById('phone_number').value);


		//let x = document.getElementById('test');
		//console.log(x.innerHTML);
		//console.log(x.innerText);
		//console.log(x.textContent); 254708252968
		let btnPay = document.getElementById('btn-pay');

		//btnPay.addEventListener('click', );

		let hello = document.getElementById('demo');
		//hello.innerHTML = '<b>Hello <code> World!</code></b>';
		//console.log(hello.innerHTML);
		//hello.innerText = '<b>Hello <code> World!</code></b>';
		//console.log(hello.innerHTML);
		//console.log(hello.innerText);
		//hello.innerHTML = 'Hello World!';

		console.log(form_fields[1]);
		
	</script>

</body>

{% endblock content %}

	